* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;

}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

h1, h2 {
    color: #00960b;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    font-size: 10px;
    margin-bottom: 15px;
}

.blog-post{
    /* background-color: #0000ff; */
    width: 75%;
    float: left;
    padding-right: 30px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.other-post {
    /* background-color: #00ff00; */
    width: 25%;
    float: left;
}

.author-box {
    /* background-color: #ffff00; */
    /* width: 25%; */
    padding-top: 20px;
    border-top: 1px solid #808080;
}

.other {
    margin-bottom: 40px;
}

